.text {
  resize: none;
  height: 100vh;
  margin-bottom: 0;
}

.currentLine {
  background-color: #004600;
}

.domManipulator {
  background-color: #4b4b4b;
}

.editorContainer {
  background-color: #2d2d2d;
}

.parseHtml {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
  background-color: #3d3d3d !important;
  color: #bbb !important;
  margin-bottom: 4px;
}

.parseHtml:hover {
  background-color: #4d4d4d;
  border-color: #fff !important;
  color: #fff !important;
}
