.navbar {
  height: 35px;
  background-color: #e4e4e4;
  border-bottom: 1px solid black;
}

.login {
  height: 35px;
  margin-bottom: 0;
  border: none;
  border-bottom: 3px solid #C0B283;
  border-radius: 0;
  border-color: #888;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: lighter;
}

.login:hover {
  border-color: #aa9655;
  font-weight: bold;
}

#titleContainer {
  display: flex;
  justify-content: space-around;
}

#title {
  text-align: center;
  line-height: 35px;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  color: #373737;
  display: flex;
  justify-content: space-around;
}
