.navbar {
  height: 50px;
  background-color: #e4e4e4;
  border-bottom: 4px solid black;
}

.login {
  margin-top: 5px;
  margin-bottom: 0;
  height: 100%;
}

.login:hover {
  border-color: #C0B283;
  background-color: #f4f4f4;
}

#title {
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  color: #373737;
}
