#controlPanel {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 5px 0 5px 0;
}

.controllerButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  margin: 0px;
  padding: 0;
}

.controlButtonIcon {
  width: 25px;
  height: 25px;
}

#controllerTitle {
  font-size: 20px;
  margin: 0;
}

#userHTML {
  display: none;
}
