#controlPanel {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 5px 0 5px 0;
}

.controllerButton {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0px 2px 0px 2px;
  padding: 0;
  font-size: 22px;
}

#controllerTitle {
  font-size: 20px;
  margin: 0;
}

#userHTML {
  display: none;
}
