html {
  height: 100vh;
  background-image: url('https://enterprise.github.com/assets/aws/jetpack-octocat-airlock-b4e1d022c0113c997328f6598d16e58ad049140e50da4859d6b4d174890bb1c8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
#firstRow {
  margin-top: 10px;
}
