body {
  color: red;
  height: 100%;
  margin: 0;
}

html {
  background-color: #f4f4f4;
  height: 100vh;
}

.mainEditContainer {
  margin-left: 30px;
  margin-top: 20px;
  right: 7px;
  min-height: 100vh;
}
