html {
  height: 100vh;
}

body {
  height: 100%;
}

.topRow, .bottomRow, #promise {
  text-align: center;
}

.topRow {
  margin-top: 30px;
}

.toHome {
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #9f9f9f;
}

.toHome:hover {
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #4f4f4f;
}

#toHomeContainer {
  margin: auto;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  border: 2px solid #aaa;
}

#promise {
  font-size: 10px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 30px;
}
